body{
    font-family: 'Josefin Sans', sans-serif;
    background: 	#FAD089;
    color: #574435;
}

.nekoi_center{
    width: 100%;
    margin: 0 auto;
}
.nekoi_title{
    align-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
}
.nekoi_container{
    align-content: center;
    width: 390px;
    margin: 15px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}

.nekoi_container.wide{
    width: 800px;
}

.nekoi_container.justified{
    text-align: justify;
}

.left_align{
text-align: left !important;
}

.content{
    width: 100%;
    padding: 10px;
    background: #E0DC8B;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    text-align: justify;
}

.content.transparent{
    background: transparent;
}

a{
    text-decoration: none;
    color: #ED4C57;
    font-weight: bold;
}

b{
    font-weight: bold;
}

i{
    font-style: italic;
}