body{
    font-family: "Roboto", serif;
    background: 	#282423;
    color: #b7b7b6;   
    
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
}

.big_text {
    font-size: 24px
}

.texttt {
    font-family: "Times New Roman";
}

.nekoi_center{
    width: 100%;
    margin: 0 auto;
}
.nekoi_title{
    align-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
}
.nekoi_container{
    align-content: center;
    width: 390px;
    margin: 15px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}

.nekoi_container.wide{
    width: 800px;
}
.nekoi_container.wide1000{
    width: 1000px;
}

.nekoi_container.justified{
    text-align: justify;
}

.left_align{
text-align: left !important;
}

.content{
    width: 100%;
    padding: 10px;
    background: #181413;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    text-align: justify;
}

.content.transparent{
    background: transparent;
}

a{
    text-decoration: none;
    color: #a2482e;
    cursor: pointer;
    /* font-weight: bold; */
}

b{
    font-weight: bold;
}

i{
    font-style: italic;
}